@model IEnumerable<MVCDemo.Models.Friend>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FriendName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FriendName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FriendID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FriendID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FriendID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
